:root{
  --menu-height: 60px;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 60px 500px 600px; 
    gap: 0px 0px; 
    grid-template-areas: 
      "menu menu menu"
      "modelView modelView modelView"
      "main main main";
      --color: rgb(245, 245, 219);
      background-color: rgb(251, 251, 242);
      background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
          linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
      background-size: 55px 55px;
}

#modelView{
  height: 500px;
  width: 100vw;
  transition: 0.4s;
    margin: 0 0 0 0;
    font-size: 30px;
    font-style: italic;
    letter-spacing: 2px;
    display: flex;
    align-items: center;  /* Aligns items vertically */
    justify-content: center; /* Centers content */
    position: fixed;  /* Allows absolute positioning */
    top: var(--menu-height);
    left: 50%;
    transform: translateX(-50%);
}

#podnadpis{
  transition: 0.4s;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    text-align: center; /* Ensures the text is centered */
    position: absolute;
    width: 300px;
    top: 0;
}

#threeD{
    transform: translateY(100px);
    transition: 0.8s;
    scale: 0.5;
    opacity: 0;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}



#menu {
    height: var(--menu-height);
    width: 100%;
    transition: 0.8s;
    top: -100px;
    font-family: "Orbitron", Verdana, Geneva, Tahoma, sans-serif;
    grid-area: menu;
    background-color: white;
    border-bottom: solid black 2px;
    display: flex;
    align-items: center;  /* Aligns items vertically */
    justify-content: center; /* Centers content */
    position: relative;  /* Allows absolute positioning */
}

#menuImg{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px; /* Keeps the image on the left */
}

#modelView {
    grid-area: modelView;
}

#main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: main;
}

#scrollButton {
  z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    --background-color: white;
    border: solid black 2px;
    position: fixed;
    bottom: -50px;
    width: 125px;
    height: 35px;
    background-color: white;
    color: black;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 15px;
    transition: 0.4s;
    cursor: crosshair;
    --move: -5px;
  }

  #scrollButton:before {
    content: "";
    position: absolute;
    left: -5px;
    top: var(--move);
    width: 10px;
    height: 10px;
    background-color: var(--background-color);
    transition: 0.2s;
    border: solid black 2px;
  }

  #scrollButton:after {
    content: "";
    position: absolute;
    right: -5px;
    bottom: var(--move);
    width: 10px;
    height: 10px;
    background-color: var(--background-color);
    transition: 0.2s;
    border: solid black 2px;
  }

  #koso0,#koso1{
    transition: 0.8s;
    background-color: white;
    width: 100px;
    height: 50px;
    top: -150px;
    position: absolute;
    border-bottom: solid black 2px;
  }

  #koso0{
    transform: skew(30deg);
    border-left: solid black 2px;
  }

  #koso1{
    border-right: solid black 2px;
    transform: skew(-30deg);
  }

  #calc{
    top: 50px;
    transform: translateY(100px);
    font-family: "Orbitron", Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    height: 400px;
    width: 300px;
    background-color: white;
    clip-path: polygon(10% 0%,
                       100% 0,
                       100% 94%,
                       90% 100%,
                       0 100%,
                       0 7%);
  }

  #calcBorder{
    top: 48px;
    transform: translateY(100px);
    position: absolute;
    height: 404px;
    width: 304px;
    background-color: black;
    clip-path: polygon(10% 0%,
                       100% 0,
                       100% 94%,
                       90% 100%,
                       0 100%,
                       0 7%);
  }

  #calc input{
    width: 200px;
    height: 20px;
    border: solid black 2px;
    overflow: hidden;
    box-shadow: 5px 5px black;
    transition: 0.2s;
  }

  #calc input::placeholder{
    font-family: "Orbitron", Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    transform: translateX(5px);
    font-size: 13px;
    transition: 0.2s;
  }

  #calc input:focus{
    box-shadow: 0px 0px black;
  }

  #calc input:focus::placeholder{
    transform: translateX(-100px);
  }

  #calc h2{
    margin: 0;
    font-size: 30px;
  }

  #calc button{
    font-family: "Orbitron", Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    height: 30px;
    border: solid black 2px;
    background-color: white;
  }
